<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DVDLibrary" connectionString="Server=localhost\sql2014;Database=DVDLibrary; User Id=sa; Password=sqlserver;"/>
  </connectionStrings>
</configuration>